{% extends "base.html" %}
{% block page_title %}Project Overview Page{% endblock %}
{% block body_content %}
<h1>This is the projects overview page</h1>

    <table class="table table-striped targetoverviewtable">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Project Type</th>
            <th scope="col">Project Status</th>
        </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <th scope="row"><a href={% url 'projecteditingpage' project.id %}>{{project.id}}</a></th>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.created_by}}</td>
                <td>{{project.created_at}}</td>
                <td>{{project.updated_at}}</td>
                <td>{{project.project_type}}</td>
                <td>{{project.project_status}}</td>
            </tr>
            {% endfor %}        
        </tbody>
    </table>
{% endblock %}



